@font-face {
    font-family: ENL;
    src: url(/public/fonts/Editor\'sNote-Extralight.ttf);
}

@font-face {
    font-family: SLOOP;
    src: url(/public/fonts/Sloop-ScriptTwo.ttf);
}

@font-face {
    font-family: AIR;
    src: url(/public/fonts/PPAir-Medium.otf);
}

*{
    text-decoration: none;
}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg);
    text-align: center;
    cursor: default;
}

:root{
    --clr-bg: #0B466F;
    --clr-selection: #C7E5F9;
    --clr-white: #FFFFFF;
    --fw: 100;
    --line-height: 1.5;
}

::selection{
    color: var(--clr-bg);
    background: var(--clr-selection);
}

h1{
    font-family: ENL;
    font-weight: var(--fw);
    font-size: 50px;
    margin-top: 50px;
    color: var(--clr-white);
}

h2 {
    font-family: ENL;
    font-weight: var(--fw);
    font-size: 1em;
    line-height: var(--line-height);
    color: var(--clr-bg);
}

h2:hover{
    font-size: 2em;
    color: var(--clr-white);
    transition: 1.2s;
    cursor: zoom-in;
}

h3, #desc, #emoji{
    font-family: ENL;
    font-weight: var(--fw);
    font-size: 1.5em;
    color: var(--clr-white);
    line-height: var(--line-height);
}

h3 a{
    color: var(--clr-white) !important;
}

h3 a:hover{
    cursor: help;
}

.script{
    font-family: SLOOP;
}

.emphasize{
    font-family: AIR;
}

#desc:hover{
    cursor: default;
}

#emoji:hover{
    cursor: crosshair;
}

#emoji.windchime, #emoji.crystalball, #emoji.moon, #emoji.magicwand, #emoji.hourglass, #emoji.galaxy, #emoji.candle {
    transition: text-shadow 0.3s ease-in-out;
}

#emoji.windchime:hover, #emoji.crystalball:hover, #emoji.moon:hover, #emoji.magicwand:hover, #emoji.hourglass:hover, #emoji.galaxy:hover, #emoji.candle:hover {
    text-shadow: 0 0 5px var(--clr-bg), 0 0 10px var(--clr-white), 0 0 15px var(--clr-white), 0 0 20px var(--clr-white), 0 0 25px ;
}

.link a, .sign a{
    color: #FFFFFF;
    transition: text-shadow 0.3s ease-in-out;
}

.link a:hover{
    cursor: help;
    text-shadow: 0 0 5px var(--clr-bg), 0 0 10px var(--clr-white), 0 0 15px var(--clr-white), 0 0 20px var(--clr-white), 0 0 25px ;
}

.sign a:hover{
    cursor: pointer;
    text-shadow: 0 0 5px var(--clr-bg), 0 0 10px var(--clr-white), 0 0 15px var(--clr-white), 0 0 20px var(--clr-white), 0 0 25px ;
}

.diamonds {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.content-container{
    width: 40%;
    margin: 0 auto;
}

@media screen and (max-width: 425px){
    .content-container{
        width: 85%;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px){
    .content-container{
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .content-container{
        width: 50%;
    }
}